body {
    background: rgb(15 0 99 / 82%);
    margin: 0 auto;
    padding: 0;
}
body.dark-theme {
    background: #121212;
    color: #ffffff;

    .headerr {
        background: #1e1e1e;
    }

    .logo {
        color: white !important;
    }

    .people-card {
        background: #2d2d2d !important;
        color: white;
    }

    .kataloguslug, .bio-catalog, .services, .none-idea, .card-verstka {
        background: #1e1e1e !important;
        border-color: rgba(255, 255, 255, 0.1) !important;
    }

    .imag {
        background-color: #3a3a3a !important;
    }

    // Добавьте другие стили для темной темы по необходимости
}

.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

$disp: flex;
@mixin position ($just: center, $align: center) {
    justify-content: $just;
    align-items: $align;
}

.headrr {
    padding: 15px 30px;
}

.head {
    display: $disp;
    align-items: center;
    justify-content: space-between;

    &-logo {
        display: $disp;
        flex-direction: row;

        .logo {
            color: yellow;
            font: {
                family:"Montserrat", sans-serif;
                size: 26px;
                weight: 720;
            }
            margin: 0 10px 0 0;
        }

        .nav-block{
            display: flex;
            flex-direction: row;
            margin-left: 40px;

            .block-txt {
                color: rgba(255, 255, 255, 0.808);
                padding-right: 20px;
                display: flex;
                align-items: center;
                font: {
                    family: 'Montserrat';
                    size: 15px;
                    weight: 500;
                }
            }
        }

         * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: 0.5s;
    }
    
        .display {
            border-radius: 999px;
            display: flex;
            flex-direction: row;

            svg {
                width: 16px;
                height: 16px;
                position: absolute;
            }

            .sun {
                color: #FFD600;
                opacity: 1;
                transition: opacity 0.5s;
            }
            .moon {
                color: white;
                opacity: 0;
                transition: opacity 0.5s;
            }
        }

       label {
        width: 50px;
        height: 27px;
        border-radius: 999px;
        background: #969696;
        box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05) inset;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 5px;
    }

    .circle {
        width: 23px;
        height: 23px;
        border-radius: 99px;
        background: white;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05),
                    -10px -10px 30px rgba(0, 0, 0, 0.05) inset;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.5s;
    }

    input[type=checkbox]:checked + .display label {
    background: #1F1F21;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5) inset;
    
    .circle {
        transform: translateX(15px);
        background: #2C2C2F;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5),
                    -10px -10px 30px rgba(0, 0, 0, 0.5) inset;
    }
    
    .sun {
        opacity: 0;
    }
    .moon {
        opacity: 1;
    }
}
    
    .sun {
        opacity: 0;
    }
    .moon {
        opacity: 1;
    }
}

    .imag {
        height: 30px;
        width: 30px;
        border-radius: 15px;
        margin-right: 10px;
    }

    .account {
        padding: 5px 15px;
        background: #873dff8a;
        border: 0.02px rgba(255, 255, 255, 0.562) solid;
        border-radius: 10px;
        display: flex;
        align-items: center;


        &-txt {
        color: white;
        font: {
                    family: 'Montserrat';
                    size: 15px;
                    weight: 500;
                }
        }
    }
}
//конец header


.flex-items {
    padding: 192px 0 0;

    .full-max {
        padding: 0 160px 128px 160px;

        .flex-w {
            padding-left: 7rem;
        }

        .l-branch::before {
        content: "";
        position: absolute;
        width: 1px;
        left: 10%;
        height: 100%;
        background-color: rgba(255, 255, 0, 0.87);
        }

        .upwards {
            display: flex;
            flex-direction: row;

            &-btn{
                display: flex;
                flex-direction: row;
                color: white;
                background: rgba(130, 65, 204, 0.418);
                border-radius: 8px;
                padding: 8px 5px;
                margin-right: 10px;
                font: {
                    family: "Inter", sans-serif;
                    size: 15px;
                    style: bold;
                    weight: 500;
            }
            }

            &-ico {
                width: 20px;
                height: 20px;
                padding-right: 5px;
            }
        }


        .main-txt {
            color: white;
            font: {
                family: "Inter", sans-serif;
                size: 50px;
                style: bold;
            }
        }
        .begin-btn {
            font: {
                size: 1rem;
                weight: 500;
            }
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: .625rem;
            line-height: 1.5rem;
            color: rgb(255 255 255);
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            height: 3.5rem;
            cursor: pointer;
            position: relative;
            margin-right: 15px;
        }

        .begin-btn:before {
                content: "";
                background-image: linear-gradient(to right, var(--tw-gradient-stops));
                --tw-gradient-from: #8d5aff;
                --tw-gradient-to: #c480ff;
                --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
                position: absolute;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: .75rem;
        }

        .all-proect {
            font: {
                size: 1rem;
                weight: 500;
            }
            text-decoration: none;
            display: inline-flex;
            align-items: center;
            gap: .625rem;
            line-height: 1.5rem;
            --tw-text-opacity: 1;
            color: rgb(255 255 255 / var(--tw-text-opacity, 1));
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            height: 3.5rem;
            cursor: pointer;
            position: relative;
        }

        .all-proect::before {
            content: "";
            background: #cbafff62;
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: .75rem;
        }
        

        .arrow-btn {
            width: 25px;
            height: 25px;
            z-index: 1;
        }

        .btn-txt {
            color: white;
            font: {
                family: "Inter", sans-serif;
                size: 17px;
                style: bold;
            }
            z-index: 1;
        }
    }
}


//остальное
.nav-info {
    margin-bottom: 45px;

    .info {
        @include position($just:space-between);
        display: $disp;
    }
}

.people-list {
    display: $disp;
    justify-content: space-between;
    margin-top: 30px;
    

    .people {
        color: black;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
            transform: translateY(-0.5px) scale(1.02);
            box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
        }
        
        &-card {
            display: $disp;
            @include position($align: flex-start);
            flex-direction: column;
            background: linear-gradient(135deg, #4793ff, #7d5fff, #1a4f9e);
            padding: 15px 35px;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, .3);
            box-shadow: 0 15px 30px -8px #4793ff66;
            transition: background-color 0.3s linear;

            &:hover {
                background-color: blueviolet;
            }
            
            &.active {
                background-color: #4CAF50;
                color: white;
            }
        }

        &-btn {
            margin-top: 10px;
        }
    }

    .card-head {
        display: $disp;
        flex-direction: row;
    }

    .kyrlyk-photo{
        height: 50px;
        min-height: 20px;
        width: 50px;
        min-width: 20px;
        border-radius: 15px;
        margin-right: 20px; 
    }
    .front-txt {
        font-size: 20px;
        padding: 0;
        margin: 0;

        span {
            font-size: 15px;
        }
    }

    .biograf {
        padding: 8px 10px;
        background: linear-gradient(-100deg, #4c03f5, #c300ff7c);
        border: none;
        color: white;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        cursor: pointer;
    }
    
    .uslugi {
        padding: 8px 10px;
        background: linear-gradient(-100deg, #4c03f5, #c300ff7c);
        border: none;
        color: white;
        border-radius: 10px;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        cursor: pointer;
    }    
}

.kataloguslug {
    display: none;
    background: #14141ebf;
    position: relative;
    margin-top: 43px;
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 0px 70px -18px #7961ff94;
    animation: fadeIn 0.5s;

    &.active {
        display: $disp;
    }

    .left-search { 
        display: inline-flex;
        flex-direction: column;

        .services {
            background: #14141ebf;
            border-radius: 20px;
            height: 213px;
            width: 220px;
            padding: 0px 40px;
            display: flex;
            justify-content: left;
            flex-direction: column;
            border: 1px solid rgba(255, 255, 255, .1);
            box-shadow: 0 15px 30px -20px #4793ff26;
        
            &-head {
                color: #ffffff;
                text-align: left;
                font-size: 24px;
                font-family: 'Montserrat';
                margin: 19px 0 30px;
            
            }
            
            &-list {
                list-style-type: none;
                padding: 0;
                margin: 0;

                & li {
                    border-radius: 5px;
                    font-size: 16px;
                    transition: all 0.3s ease;
                    margin-bottom: 23px;
                    padding: 0;
                    font-family: 'Montserrat';
                    font-size: 17px;
                    font-weight: 500;
                }

                .checkbox-input { 
                    accent-color: #5ca0ff;
                    width: 15px;
                    height: 15px;
                }

                label {
                    color: white;
                }
            }
        }

        .none-idea {
            background: #14141ebf;
            display: inline-flex;
            padding: 58px 60px;
            margin-top: 22px;
            border-radius: 20px;
            border: 1px solid rgba(255, 255, 255, .1);
            box-shadow: 0 15px 30px -20px #4793ff26;
        }
        
        .none-txt {
            font-family:'Montserrat';
            font-style: bold;
            margin: 0;
            color: white;
        }
    }


    .article-card {
        display: none; 
        transition: all 0.3s ease; 
        margin-left: 60px;

        &.show {
            display: $disp;
          }

        .card-verstka {
            background: #14141ebf;
            border: 1px solid rgba(255, 255, 255, .1);
            box-shadow: 0 15px 30px -20px #4793ff26; 
            border-radius: 25px;    
            padding: 20px 22px;
        }

        .verstka-image {
            border-radius: 20px;
        }

        .verstka-txt {
            font-family:'Montserrat';
            font-size: 18px;
            font-weight: 450;
            color: white;
        }

        .verstka-mon {
            margin: 0;
            margin-right: 55px;
            font-family:'Montserrat';
            font-size: 25px;
            color: white;
        }

        .bottom-card {
            display: inline-flex;

            .basket {
                color: white;
                background: #14141ebf;
                border: 1px solid rgba(255, 255, 255, .3);
                outline: none;
                cursor: pointer;
                padding: 10px 12px;
                border-radius: 16px;
                font-family: 'Montserrat';
                font-size: 15px;
                font-weight: 600;
                transition: 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                box-shadow: 0 8px 20px -8px #4793ff26;

                &:hover {
                    transform: translateY(-5px) scale(1.02);
                    box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.12);
                    background: linear-gradient(156deg, #b0aeff, #b443ff, #f7f7f7);
                    background-size: 200% 200%;
                    border-color: #ffffff1a;
                  }
                
                  @keyframes fadeIn {
                    from { opacity: 0; }
                    to { opacity: 1; }
                }
            }
        }
    }
}

.bio-catalog {
    display: none;
    background: #13131dbf;
    position: relative;
    margin-top: 43px;
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 30px;
    border-radius: 28px;
    box-shadow: 0 0px 70px -18px #7961ff94;
    animation: fadeIn 0.5s;

    &.active {
        display: block;
    }
}

.biograf-head {
    display: $disp;
    @include position;

    .biograf-txt {
        color: white;
        font-family: "Montserrat", sans-serif;
        font-size: 30px;
    }
}

.description {
    background: #14141ebf;
    display: inline-flex;
    padding: 20px 20px;
    width: 30%;
    margin-top: 22px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 15px 30px -20px #4793ff26; 
    font-size: 12px;

    & span {
        color: yellow;
    }

    .none-txt {
        font-family:'Montserrat';
        font-style: bold;
        margin: 0;
        color: white;
    }
}